build/vis.exe
.vscode/c_cpp_properties.json
build/main.o
build/MergeSort.o
build/Drawing.o
*.rar
build/Drawing.d
build/InsertionSort.d
build/InsertionSort.o
build/main.d
build/MergeSort.d
build/BubbleSort.d
build/BubbleSort.o
build/SelectionSort.d
build/SelectionSort.o
build/SwapBars.d
build/SwapBars.o
